<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <img src="{{ '/assets/imgs/dp.jpg' }}" class="dp">
                <p> <span class="name">Thomas</span> is deep learning enthusiast 
                    who is eager for the next book, new music,
                    expanding horizons, and finding places to travel to.
                    Feel free to ping me in Twitter at
                    <!-- <svg class="svg-icon grey">
                        <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
                    </svg> -->
                    <a href="https://twitter.com/{{ site.twitter_username }}" 
                    title="{{ site.twitter_username }}">
                        
                        {{ site.twitter_username }}
                    </a>
                </p>
            </div>
        </div>
    </div>
  
</footer>