<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <img src="{{ '/assets/imgs/dp.jpg' }}" class="dp">
                <p> <b>Thank you for your interest.</b><br/> I am a deep learning enthusiast 
                    who is eager for expanding horizons, and, to meet new people. If you have a feedback, need any clarification, or just want to talk about it, please drop a line via <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>, <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a>, or <a href="mailto:{{ site.email }}">mail</a>. I would really appreciate it&#128516;<br/>~ <span class="name">thomas</span> aka <span class="name">mrtpk</span>.

                </p>
            </div>
        </div>
    </div>
  
</footer>
