---
layout: default
---
<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 0px solid black; padding: 10px; margin: 5px;}
</style>

<div class="home">

  {% if page.pagination_info.curr_page == 1 %}
    {{ content }}
  {% endif %}

  <!-- {%- if page.title_name -%}
  <h1 class="page-heading">{{ page.title_name }}</h1>
  {%- endif -%} -->

  <!-- {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  {%- endif -%} -->


  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
    {% endfor %}
  </ul>
  
  <!-- 
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous</a>
      </li>
      {% endif %}

      <li class="cur">
          <a href="">{{ page.pagination_info.curr_page }} of {{ page.pagination_info.total_pages }}</a>
      </li>

      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}

</div>